.sidebar {
    display: flex;
    flex-direction: column;
    border-#{$end-direction}: $border;
    transition: .3s ease-in-out all;
    height: 100%;
    &_body {
        flex: 1;
    }
    &_foot {
        margin: 2rem 0;
        margin-top: 4rem;
    }
}

.account-menu {
    .menu__nav {
        margin: 0;
        list-style: none;
        padding: 4rem 2rem;
        @include media-breakpoint-down(sm) {
            padding: 1.25rem 2rem 4rem;
        }
        .menu__head {
            font-weight: 500;
            font-size: 0.75rem;
            text-transform: uppercase;
            margin: 0.5rem 0;
            margin-top: 2rem;
            color: $txt-gray;
            &:first-child {
                margin-top: 0;
            }
        }
        .divider {
            margin: 1.5rem 0;
            &::after {
                background-color: $border-color;
            }
        }
        .menu__item {
            display: flex;
            flex-direction: column;
            padding: 0;
            &.active {
                a {
                    color: $brand-color;
                    font-weight: 500;
                    &:before {
                        width: 2px;
                        height: 100%;
                        content: "";
                        position: absolute;
                        #{$start-direction}: -32px;
                        background: $brand-color;
                    }
                }
            }
            .menu__link {
                display: flex;
                flex-grow: 1;
                align-items: center;
                margin: 7px 0;
                padding: 0;
                text-decoration: none;
                position: relative;
                outline: none;
                color: $txt-gray;
                font-weight: 400;
                font-size: 0.85rem;
                position: relative;
                &.logout {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 0.8rem;
                    color: $txt-body;
                    font-weight: 600;
                    // text-transform: uppercase; 
                    // font-weight: 500;
                    margin-top: 2rem;
                    .icn {
                        // margin-#{$end-direction}: 0.8rem;
                        .svg {
                            // width: 16px;
                            // height: 16px;
                            // fill: currentColor;
                            padding: 0.1rem;
                        }
                    }
                }
                .menu__link-text {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                }
                .badge {
                    font-size: 10px;
                }
                .menu__link-icn {
                    margin-#{$end-direction}: 0.6rem;
                    .svg {
                        width: 20px;
                        height: 20px;
                        fill: currentColor;
                    }
                }
                &:hover {
                    color: $brand-color;
                }
                .menu__ver-arrow {
                    transform: rotate(0deg);
                    transition: all 0.3s ease;
                }
                &.collapsed {
                    .menu__ver-arrow {
                        transform: rotate(-90deg);
                    }
                }
            }
            .menu__submenu {
                flex-grow: 1;
                flex-direction: column;
                .menu__link {
                    .menu__link-text {
                        font-weight: 300;
                    }
                }
            }
        }
        ul {
            -webkit-margin-start: 0.5rem;
            margin-inline-start: 0.5rem;
        }
    }
    @include media-breakpoint-down(md) {
        & {
            background-color: $bg-white;
            box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
            z-index: 1050;
            position: fixed;
            -webkit-overflow-scrolling: touch;
            top: 0;
            left: -280px;
            bottom: 0;
            overflow-y: auto;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            width: 280px;
            transition: left 0.3s ease, right 0.3s ease;
            padding: 2rem;
        }
        &--on & {
            left: 0;
            visibility: visible;
            padding: 0;
        }
        &--on .back-overlay {
            display: block;
        }
    }
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 2rem;
    margin-#{$start-direction}: auto;
    @include media-breakpoint-down(sm) {
        margin: 0;
        padding: 1.25rem 2rem;
        flex: 1;
        border-bottom: 1px solid var(--border-color);
    }
    &_inner {
        display: flex;
        align-items: center;
    }
    &_photo {
        border-radius: 50%;
        min-width: 42px;
        width: 42px;
        height: 42px;
        position: relative;
        margin: 0;
        margin-#{$end-direction}: 8px;
        box-shadow: $shadow1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #f0f0f0;
        img {
            margin: auto;
            max-height: 100%;
        }
    }
    &_name {
        color: $txt-gray;
        font-size: 0.8rem;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
}

.lang-dropdown {
    color: inherit;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    color: $txt-gray;
    .icn {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-#{$end-direction}: 8px;
        img {
            border-radius: 50%;
        }
    }
    .arrow {
        line-height: 1;
        padding-top: 3px;
        .svg {
            fill: currentColor;
            width: 12px!important;
            height: 12px!important;
            margin: 0;
            transform: rotate(90deg);
            transition: all 0.5s ease;
        }
    }
}