.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem; 
    

    &-heading {
        color: inherit
    }

    &-link {
        font-weight: 700
    }

    &-dismissible {
        padding-#{$end-direction}: 4rem;

        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: .75rem 1.25rem;
            color: inherit
        }
    }

    &-primary {
        color: #2e3673;
        background-color: #dee1f8;
        border-color: #d0d4f5;

        hr {
            border-top-color: #bbc1f1
        }

        .alert-link {
            color: #1f254f
        }
    }

    &-secondary {
        color: #75757c;
        background-color: #f9f9fc;
        border-color: #f7f7fb;

        hr {
            border-top-color: #e6e6f3
        }

        .alert-link {
            color: #5c5c62
        }

    }

    &-success {
        color: #0f695f;
        background-color: #d2f4f1;
        border-color: #c0f0eb;

        &-success {
            hr {
                border-top-color: #abebe4
            }

            .alert-link {
                color: #093c37
            }
        }
    }

    &-info {
        color: #2c3e7a;
        background-color: #dde4fb;
        border-color: #cfd9f9;

        hr {
            border-top-color: #b8c7f6
        }

        .alert-link {
            color: #1e2b55
        }
    }

    &-warning {
        color: #856012;
        background-color: #fff1d3;
        border-color: #ffebc1;

        hr {
            border-top-color: #ffe3a8
        }

        .alert-link {
            color: #58400c
        }
    }

    &-danger {
        color: #841e3f;
        background-color: #ffd7e4;
        border-color: #fec8da;

        hr {
            border-top-color: #feafc9
        }

        .alert-link {
            color: #5a152b
        }
    }

    &-light {
        color: #818182;
        background-color: #fefefe;
        border-color: #fdfdfe;

        hr {
            border-top-color: #ececf6
        }

        .alert-link {
            color: #686868
        }

    }

    &-dark {
        color: #1b1e21;
        background-color: #d6d8d9;
        border-color: #c6c8ca;

        hr {
            border-top-color: #b9bbbe
        }

        .alert-link {
            color: #040505
        }
    }
}

.alert {
    display: flex;
    align-items: stretch;
    padding: 1rem 2rem;
    margin: 0 0 20px 0;
    border-radius: 4px;

    .alert-icon {
        display: flex;
        align-items: center;
        padding: 0;
        padding-#{$end-direction}:1.25rem;

        &.alert-icon-top {
            align-items: flex-start;
            align-content: stretch
        }

        i {
            font-size: 2.4rem
        }
    }

    .alert-text {
        align-self: center;
        flex-grow: 1
    }

    .alert-close {
        padding: 0 0 0 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .close {
            text-shadow: none !important
        }

        i {
            opacity: .8;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                opacity: 1
            }
        }
    }

    &.alert-elevate {
        box-shadow: 0 0 13px 0 rgba(82, 63, 105, .1)
    }

    &.alert-brand {
        background: #366cf3;
        border: 1px solid #366cf3;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }
        }

        .alert-text {
            color: #fff;

            hr {
                border-top-color: #fff;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-outline-brand {
        border: 1px solid #366cf3;
        color: #366cf3;

        .alert-icon {
            i {
                color: #366cf3
            }
        }

        .alert-text {
            color: #366cf3
        }

        .alert-close {
            i {
                color: #366cf3
            }
        }
    }

    &.alert-solid-brand {
        background: rgba(54, 108, 243, .1);
        border-color: transparent;
        color: #366cf3;

        .alert-icon {
            i {
                color: #366cf3
            }
        }

        .alert-text {
            color: #366cf3
        }

        .alert-close {
            i {
                color: #366cf3
            }
        }
    }

    &.alert-light {
        background: $bg-white;
        border: 1px solid $border-color;
       

        .alert-icon {
            i {
                color: #282a3c
            }
        }

        .alert-text {
            

            hr {
                border-top-color: #282a3c;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #282a3c
            }
        }
    }

    &.alert-outline-light {
        border: 1px solid #fff;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }
        }

        .alert-text {
            color: #fff
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-solid-light {
        background: rgba(255, 255, 255, .1);
        border-color: transparent;
        color: #fff;

        .alert-icon {
            i {
                color: #fff;
            }
        }

        .alert-text {
            color: #fff
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-dark {
        background: #282a3c;
        border: 1px solid #282a3c;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }
        }

        .alert-text {
            color: #fff;

            hr {
                border-top-color: #fff;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-outline-dark {
        border: 1px solid #282a3c;
        color: #282a3c;

        .alert-icon {
            i {
                color: #282a3c
            }
        }

        .alert-text {
            color: #282a3c
        }

        .alert-close {
            i {
                color: #282a3c
            }
        }
    }

    &.alert-solid-dark {
        background: rgba(40, 42, 60, .1);
        border-color: transparent;
        color: #282a3c;

        .alert-icon {
            i {
                color: #282a3c
            }
        }

        .alert-text {
            color: #282a3c
        }

        .alert-close {
            i {
                color: #282a3c
            }
        }
    }

    &.alert-primary {
        background: #5867dd;
        border: 1px solid #5867dd;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }

        }

        .alert-text {
            color: #fff;

            hr {
                border-top-color: #fff;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-outline-primary {
        border: 1px solid #5867dd;
        color: #5867dd;

        .alert-icon {
            i {
                color: #5867dd
            }
        }

        .alert-text {
            color: #5867dd
        }

        .alert-close {
            i {
                color: #5867dd
            }
        }
    }

    &.alert-solid-primary {
        background: rgba(88, 103, 221, .1);
        border-color: transparent;
        color: #5867dd;

        .alert-icon {
            i {
                color: #5867dd
            }
        }

        .alert-text {
            color: #5867dd
        }

        .alert-close {
            i {
                color: #5867dd
            }
        }
    }

    &.alert-success {
        background: #1dc9b7;
        border: 1px solid #1dc9b7;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }
        }

        .alert-text {
            color: #fff;

            hr {
                border-top-color: #fff;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-outline-success {
        border: 1px solid #1dc9b7;
        color: #1dc9b7;

        .alert-icon {
            i {
                color: #1dc9b7
            }
        }

        .alert-text {
            color: #1dc9b7
        }

        .alert-close {
            i {
                color: #1dc9b7
            }
        }
    }

    &.alert-solid-success {
        background: rgba(29, 201, 183, .1);
        border-color: transparent;
        color: #1dc9b7;

        .alert-icon {
            i {
                color: #1dc9b7
            }
        }

        .alert-text {
            color: #1dc9b7
        }

        .alert-close {
            i {
                color: #1dc9b7
            }
        }
    }

    &.alert-info {
        background: #5578eb;
        border: 1px solid #5578eb;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }
        }

        .alert-text {
            color: #fff;

            hr {
                border-top-color: #fff;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-outline-info {
        border: 1px solid #5578eb;
        color: #5578eb;

        .alert-icon {
            i {
                color: #5578eb
            }
        }

        .alert-text {
            color: #5578eb
        }

        .alert-close {
            i {
                color: #5578eb
            }
        }
    }

    &.alert-solid-info {
        background: rgba(85, 120, 235, .1);
        border-color: transparent;
        color: #5578eb;

        .alert-icon {
            i {
                color: #5578eb
            }
        }

        .alert-text {
            color: #5578eb
        }

        .alert-close {
            i {
                color: #5578eb
            }
        }
    }

    &.alert-warning {
        background: #ffb822;
        border: 1px solid #ffb822;
        color: #111;

        .alert-icon {
            i {
                color: #111
            }
        }

        .alert-text {
            color: #111;

            hr {
                border-top-color: #111;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #111
            }
        }
    }

    &.alert-outline-warning {
        border: 1px solid #ffb822;
        color: #ffb822;

        .alert-icon {
            i {
                color: #ffb822
            }
        }

        .alert-text {
            color: #ffb822
        }

        .alert-close {
            i {
                color: #ffb822
            }
        }
    }

    &.alert-solid-warning {
        background: rgba(255, 184, 34, .1);
        border-color: transparent;
        color: #ffb822;

        .alert-icon {
            i {
                color: #ffb822
            }
        }

        .alert-text {
            color: #ffb822
        }

        .alert-close {
            i {
                color: #ffb822
            }
        }
    }

    &.alert-danger {
        background: #fd397a;
        border: 1px solid #fd397a;
        color: #fff;

        .alert-icon {
            i {
                color: #fff
            }
        }

        .alert-text {
            color: #fff;

            hr {
                border-top-color: #fff;
                opacity: .4
            }
        }

        .alert-close {
            i {
                color: #fff
            }
        }
    }

    &.alert-outline-danger {
        border: 1px solid #fd397a;
        color: #fd397a;

        .alert-icon {
            i {
                color: #fd397a
            }
        }

        .alert-text {
            color: #fd397a
        }

        .alert-close {
            i {
                color: #fd397a
            }
        }
    }

    &.alert-solid-danger {
        background: rgba(253, 57, 122, .1);
        border-color: transparent;
        color: #fd397a;

        .alert-icon {
            i {
                color: #fd397a
            }
        }

        .alert-text {
            color: #fd397a
        }

        .alert-close {
            i {
                color: #fd397a
            }
        }

        .alert-icon {
            i {
                color: #74788d
            }
        }
    }

    &.alert-secondary {
        .alert-text {
            color: #595d6e
        }
    }

    &.alert-bold {
        .alert-text {
            font-weight: 500
        }
    }

    &.alert--marginless {
        margin: 0
    }

}

.alert[data-notify] {
    min-width: 300px;
    .close {
        right: 10px !important;
        padding: .25rem 0 0 2rem;
        font-family: LineAwesome;
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        font-weight: 300;

        &:before {
            content: "ï†‘";
            font-size: 1.1rem;
            color: #fff;
            opacity: .7;
            transition: all .3s;
        }

        &:hover {
            &:before {
                opacity: 1;
                -webkit-transition: all .3s;
                transition: all .3s
            }
        }
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .alert[data-notify] {
        max-width: 70%
    }
}

@media (max-width:768px) {
    .alert[data-notify] {
        max-width: 90%
    }
}

.alert[data-notify][data-notify-position=bottom-center],
.alert[data-notify][data-notify-position=top-center] {
    width: 30%
}

@media (min-width:769px) and (max-width:1024px) {

    .alert[data-notify][data-notify-position=bottom-center],
    .alert[data-notify][data-notify-position=top-center] {
        width: 70%
    }
}

@media (max-width:768px) {

    .alert[data-notify][data-notify-position=bottom-center],
    .alert[data-notify][data-notify-position=top-center] {
        width: 90%
    }
}

.alert[data-notify] .icon {
    position: absolute
}

.alert[data-notify] [class*=" la-"],
.alert[data-notify] [class^=la-] {
    font-size: 1.8rem
}

.alert[data-notify] [class*=" fa-"],
.alert[data-notify] [class^=fa-] {
    font-size: 1.6rem
}

.alert[data-notify] [class*=" flaticon-"],
.alert[data-notify] [class*=" flaticon2-"],
.alert[data-notify] [class^=flaticon-],
.alert[data-notify] [class^=flaticon2-] {
    font-size: 1.8rem
}

.alert[data-notify] [class*=" la-"],
.alert[data-notify] [class^=la-] {
    margin-top: -.1rem
}

.alert[data-notify] [class*=" fa-"],
.alert[data-notify] [class^=fa-] {
    margin-top: -.1rem
}

.alert[data-notify] [class*=" flaticon-"],
.alert[data-notify] [class*=" flaticon2-"],
.alert[data-notify] [class^=flaticon-],
.alert[data-notify] [class^=flaticon2-] {
    margin-top: -.4rem
}

.alert[data-notify] [data-notify=title] {
    display: block;
    font-weight: 500
}

.alert[data-notify] .icon ~ [data-notify=title] {
    padding-#{$start-direction}: 2.85rem
}

.alert[data-notify] .icon ~ [data-notify=message] {
    display: inline-block;
    padding-#{$start-direction}: 2.85rem
}

.alert[data-notify] [data-notify=title]:not(:empty) ~ [data-notify=message] {
    margin-top: .2rem
}

.alert[data-notify] .progress {
    margin-top: .5rem;
    line-height: .5rem;
    height: .5rem
}