.dropdown {
    &.dropdown-inline {
        display: inline-block;
    }
    &-toggle {
        white-space: nowrap;
        &:after {
            display: inline-block;
            margin-#{$start-direction}: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-#{$end-direction}: .3em solid transparent;
            border-bottom: 0;
            border-#{$start-direction}: .3em solid transparent
        }
        &:empty::after {
            margin-#{$start-direction}: 0
        }
    }
    &-divider {
        height: 0;
        margin: .5rem 0;
        overflow: hidden;
        border-top: 1px solid $gray-200
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 95;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: $gray-900;
    text-align: left;
    list-style: none;
    background-color: $bg-white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    &-left {
        right: auto;
        left: 0
    }
    &-right {
        right: 0;
        left: auto
    }
    &.show {
        display: block
    }
}

@media (min-width:576px) {
    .dropdown-menu-sm {
        &-left {
            right: auto;
            left: 0
        }
        &-right {
            right: 0;
            left: auto
        }
    }
}

@media (min-width:768px) {
    .dropdown-menu-md {
        &-left {
            right: auto;
            left: 0
        }
        &-right {
            right: 0;
            left: auto
        }
    }
}

@media (min-width:1024px) {
    .dropdown-menu-lg {
        &-left {
            right: auto;
            left: 0
        }
        &-right {
            right: 0;
            left: auto
        }
    }
}

@media (min-width:1399px) {
    .dropdown-menu-xl {
        &-left {
            right: auto;
            left: 0
        }
        &-right {
            right: 0;
            left: auto
        }
    }
}

.dropup {
    .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-top: 0;
        margin-bottom: .125rem;
        &::after {
            display: inline-block;
            margin-#{$start-direction}: .255em;
            vertical-align: .255em;
            content: "";
            border-top: 0;
            border-#{$end-direction}: .3em solid transparent;
            border-bottom: .3em solid;
            border-#{$start-direction}: .3em solid transparent
        }
        &:empty::after {
            margin-#{$start-direction}: 0
        }
    }
}

.dropright {
    .dropdown-menu {
        top: 0;
        right: auto;
        left: 100%;
        margin-top: 0;
        margin-#{$start-direction}: .125rem;
        &::after {
            display: inline-block;
            margin-#{$start-direction}: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid transparent;
            border-#{$end-direction}: 0;
            border-bottom: .3em solid transparent;
            border-#{$start-direction}: .3em solid;
        }
        &:empty::after {
            margin-#{$start-direction}: 0
        }
    }
    .dropdown-toggle {
        &::after {
            vertical-align: 0
        }
    }
}

.dropleft {
    .dropdown-menu {
        top: 0;
        right: 100%;
        left: auto;
        margin-top: 0;
        margin-#{$end-direction}: .125rem;
    }
    .dropdown-toggle {
        &::after {
            display: inline-block;
            margin-#{$start-direction}: .255em;
            vertical-align: .255em;
            content: ""
        }
        &:before {
            display: inline-block;
            margin-#{$end-direction}: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid transparent;
            border-#{$end-direction}: .3em solid;
            border-bottom: .3em solid transparent;
            vertical-align: 0
        }
        &:empty::after {
            margin-#{$start-direction}: 0
        }
    }
}

.dropdown-menu[x-placement^=bottom],
.dropdown-menu[x-placement^=left],
.dropdown-menu[x-placement^=right],
.dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: $txt-body;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:focus,
    &:hover {
        color: #595d6e;
        text-decoration: none;
        background-color: #f7f8fa;
    }
    &.active,
    &:active {
        color: #fff;
        text-decoration: none;
        background-color: $brand-color;
        a {
            color: #fff;
        }
    }
    &.disabled,
    &:disabled {
        color: #a2a5b9;
        pointer-events: none;
        background-color: transparent;
    }
}

.dropdown-header {
    display: block;
    padding: .5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: $txt-body;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .25rem 1.5rem;
    color: rgba($brand-color, 40%)
}

.dropdown-menu {
    border: 0 !important;
    margin: 0;
    border-radius: 0;
    min-width: 14rem;
    padding: 0;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    padding: 1rem 0;
    border-radius: 4px;
    left: 0;
    &.dropdown-menu-fit {
        padding: 0;
        &-bottom {
            padding-bottom: 0
        }
        &-top {
            padding-top: 0
        }
        &:not(.dropdown-menu-top-unround)>div:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px
        }
        &:not(.dropdown-menu-top-unround) form {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px
        }
    }
    &.dropdown-menu-top-unround {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }
    &:after,
    &:before {
        display: none !important
    }
    >.dropdown-item,
    >li>a {
        outline: 0 !important;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding: .7rem 1.2rem
    }
}

.dropdown-menu>.dropdown-item [class*=" la-"],
.dropdown-menu>.dropdown-item [class^=la-],
.dropdown-menu>li>a [class*=" la-"],
.dropdown-menu>li>a [class^=la-] {
    font-size: 1.4rem
}

.dropdown-menu>.dropdown-item [class*=" fa-"],
.dropdown-menu>.dropdown-item [class^=fa-],
.dropdown-menu>li>a [class*=" fa-"],
.dropdown-menu>li>a [class^=fa-] {
    font-size: 1.4rem
}

.dropdown-menu>.dropdown-item [class*=" flaticon-"],
.dropdown-menu>.dropdown-item [class*=" flaticon2-"],
.dropdown-menu>.dropdown-item [class^=flaticon-],
.dropdown-menu>.dropdown-item [class^=flaticon2-],
.dropdown-menu>li>a [class*=" flaticon-"],
.dropdown-menu>li>a [class*=" flaticon2-"],
.dropdown-menu>li>a [class^=flaticon-],
.dropdown-menu>li>a [class^=flaticon2-] {
    font-size: 1.3rem
}

.dropdown-menu>.dropdown-item>i,
.dropdown-menu>li>a>i {
    margin-#{$end-direction}: .75rem;
    color: rgba($brand-color, 40%)
}

.dropdown-menu>.dropdown-item>i:before,
.dropdown-menu>li>a>i:before {
    line-height: 0;
    vertical-align: middle
}

.dropdown-menu {
    .dropdown-divider {
        border-top: 1px solid #ebedf2
    }
    &.dropdown-menu-sm {
        width: 240px
    }
    &.dropdown-menu-md {
        width: 260px
    }
    &.dropdown-menu-lg {
        width: 320px
    }
    &.dropdown-menu-xl {
        width: 380px
    }
    &.dropdown-menu-anim {
        -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1;
        animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-up .3s ease-out 1
    }
}

.dropdown-menu .dropdown-menu-anim-down.dropdown-menu-anim,
.dropup .dropdown-menu.dropdown-menu-anim {
    -webkit-animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-down .3s ease-out 1;
    animation: dropdown-menu-fade-in .3s ease 1, dropdown-menu-move-down .3s ease-out 1
}

@media (max-width:768px) {
    .dropdown-menu.dropdown-menu-lg,
    .dropdown-menu.dropdown-menu-md,
    .dropdown-menu.dropdown-menu-xl {
        width: 300px
    }
}

.btn.dropdown-toggle:after,
.nav-link.dropdown-toggle:after {
    text-align: center;
    display: inline;
    border: 0;
    font-size: .6rem;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    margin-#{$start-direction}: .5rem;
    opacity: .7;
    font-family: Flaticon2;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "\f1ad";
}

.btn.dropdown-toggle.dropdown-toggle-split:after,
.nav-link.dropdown-toggle.dropdown-toggle-split:after {
    right: 1px
}

.dropdown.dropdown-inline {
    display: inline-block
}

.dropup .btn.dropdown-toggle:after,
.dropup .nav-link.dropdown-toggle:after {
    font-family: Flaticon2;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ""
}

.btn-group.dropright .btn.dropdown-toggle:before,
.btn-group.dropright .nav-link.dropdown-toggle:before {
    display: none
}

.btn-group.dropright .btn.dropdown-toggle:after,
.btn-group.dropright .nav-link.dropdown-toggle:after {
    font-family: Flaticon2;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ""
}

.btn-group.dropleft .btn.dropdown-toggle:before,
.btn-group.dropleft .nav-link.dropdown-toggle:before {
    display: none
}

.btn-group.dropleft .btn.dropdown-toggle:after,
.btn-group.dropleft .nav-link.dropdown-toggle:after {
    font-family: Flaticon2;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ""
}

@-webkit-keyframes dropdown-menu-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes dropdown-menu-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes dropdown-menu-move-down {
    from {
        margin-top: -10px
    }
    to {
        margin-top: 0
    }
}

@keyframes dropdown-menu-move-down {
    from {
        margin-top: -10px
    }
    to {
        margin-top: 0
    }
}

@-webkit-keyframes dropdown-menu-move-up {
    from {
        margin-top: 10px
    }
    to {
        margin-top: 0
    }
}

@keyframes dropdown-menu-move-up {
    from {
        margin-top: 10px
    }
    to {
        margin-top: 0
    }
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative
}