.notfound {
    max-width: 560px;
    margin: 12rem auto;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
    position: relative;
    z-index: 2;

    .icon {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 140px;
        height: 140px;
        background-size: cover;


        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(2.4);
            -ms-transform: scale(2.4);
            transform: scale(2.4);
            border-radius: 50%;
            background-color:$gray-color;
            z-index: -1;
        }
    }
    p{ margin-bottom: 1.5rem;}
}