.listing-head {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $bg-gray;
    position: relative;
    text-align: center;

    &_inner {
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_title {
        h1 {
            margin: 0;
            font-size: calc(112.5% + 1vw);
        }
    }

    .breadcrumb {
        padding: 0;
    }

    .img-category {
        padding-bottom: 20%;
        display: block;
        position: relative;
        img {
            width: auto;
            height: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
    }
}

.collection-listing {
    display: flex;
    flex-wrap: wrap;
}

.collection-sidebar {
    max-width: 260px;
    flex: 0 0 260px;
    flex-grow: 0;
    background-color: $bg-white;
    @include media-breakpoint-down(lg) {
        & {
            box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.08);
            padding: 1.5rem;
            z-index: 1050;
            position: fixed;
            -webkit-overflow-scrolling: touch;
            top: 0;
            left: -280px;
            bottom: 0;
            overflow-y: auto;
            backface-visibility: hidden;
            width: 280px;
            transition: left 0.3s ease, right 0.3s ease;
        }
        &--on & {
            padding: 0 1rem;
            left: 0;
            visibility: visible;
        }
        &--on {
            overflow: hidden;
        }
        &--on .back-overlay {
            display: block;
        }
    }
    .sidebar-widgets {
        //background-color: $bg-gray;
        //padding: 1.5rem;
        //height: 100%;
        position: sticky;
        top: 4.5rem;
        border-radius: $radius4;
        @include media-breakpoint-down(md) {
            & {
                top: 0;
                padding: 1rem 0;
                height: auto;
            }
        }
    }
    .sidebar-widget {
        border-bottom: $border;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        animation: slideRight 600ms ease both;
        &:last-child {
            border-bottom: none;
        }
        &__head {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: $txt-gray;
            margin: 0;
            padding-#{$end-direction}: 20px;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            &:after,
            &:before {
                background: currentColor;
                content: "";
                height: 2px;
                position: absolute;
                #{$end-direction}: 0;
                top: calc(50% - 1px);
                width: 12px;
            }
            &:before {
                transform: rotate(90deg);
                transition: all 0.2s ease-in-out;
            }
            &[aria-expanded="true"] {
                &:before {
                    transform: rotate(0deg);
                }
            }
        }
        &__body {
            padding-top: 1rem;
        }
        .loadmore {
            font-size: 0.8rem;
            text-transform: uppercase;
            margin-right: auto;
            text-align: #{$end-direction};
        }
        .list-vertical li {
            padding: 0 0 0.5em 0;
        }
    }
}

.collection-skeleton {
    .sidebar-widget {
        margin-bottom: 2rem;
        .sidebar-widget__head {
            &.skeleton {
                display: inline-block;
                min-width: 80px;
                border-radius: $radius4;
                margin-bottom: 0.85rem;
            }
            &:after,
            &:before {
                display: none;
            }
        }
        .sidebar-widget__body {
            .list-vertical {
                .skeleton {
                    padding: 0 0 0 0;
                    margin: 0 0 0.75em 0;
                    line-height: 0.6;
                    border-radius: $radius2;
                    &:nth-child(1) {
                        width: 80%;
                    }
                    &:nth-child(2) {
                        width: 100%;
                    }
                    &:nth-child(3) {
                        width: 60%;
                    }
                    &:nth-child(4) {
                        width: 40%;
                    }
                }
            }
        }
    }
}

.collection-content {
    flex: 0 0 100%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-#{$start-direction}: 3.5rem;
    @include media-breakpoint-down(lg) {
        padding-#{$start-direction}: 0;
    }
}

.list-colors {
    .color-display {
        width: 10px;
        height: 10px;
        margin-#{$end-direction}: 5px;
        display: inline-block;
        border-radius: 50%;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.85);
    }
}

.category-menu {
    ul {
        margin: 0;
        list-style: none;
        padding: 0rem 0;
        .menu__item {
            position: relative;
            padding: 0 0 0.5rem 0;
            .menu__ver-arrow {
                font-size: 0.8rem;
                cursor: pointer;
                position: absolute;
                top: 0px;
                #{$end-direction}: 0;
                transform: rotate(0deg * $transform-direction);
                transition: all 0.3s ease;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 22;
                &.collapsed {
                    transform: rotate(-90deg * $transform-direction);
                }
            }
            .menu__link-text {
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-#{$end-direction}: 1.8rem;
                color: $txt-gray;
                overflow: hidden;
                display: inherit;
                position: relative;
                .menu__link {
                    display: inline;
                    flex-grow: 1;
                    align-items: center;
                    margin: 0;
                    text-decoration: none;
                    position: relative;
                    outline: none;
                    color: currentColor;
                    font-size: 0.85rem;
                    font-weight: 300;
                    padding: 3px 0;
                    word-break: break-all;
                    .menu__link-text {
                        display: flex;
                        flex-grow: 1;
                        align-items: center;
                    }
                    &:hover {
                        color: $brand-color;
                    }
                }
                i {
                    color: currentColor;
                }
            }
            .menu__submenu {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                flex-direction: column;
                .menu__link {
                    .menu__link-text {
                        font-weight: 300;
                    }
                }
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        ul {
            margin-inline-start: 0.5rem;
            padding: 0.5rem 0;
            li.menu__item {
                padding: 0 0 0.5rem 0;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}

.collection-top-bar {
    padding: 0 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.no-data {
        .collection-top-bar__title {
            max-width: 100%;
            width: 100%;
            text-align: center;
            h1 {
                width: 100%;
            }
        }
    }
    &__title {
        max-width: 70%;
        h1 {
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 1.85rem;
            line-height: 1.25;
        }
    }
    .collection-options {
        margin-#{$start-direction}: auto;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md) {
            margin-#{$end-direction}: auto;
        }
        .filter-select {
            border: $border;
            border-radius: 40px;
            //background: none;
            font-size: 0.85rem;
            //padding: 0 5px;
            height: 33px;
            line-height: 1.5;
            color: $txt-body;
        }
    }
    label {
        font-size: 0.8rem;
        font-weight: 600;
        color: $txt-body;
        margin-#{$end-direction}: 10px;
    }
    .wc-col-switch a {
        height: 20px;
        float: left;
        position: relative;
        margin-#{$end-direction}: 10px;
        &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: 6px;
            width: 8px;
            height: 12px;
            background: $bg-gray;
            transition: all 0.3s;
        }
        &.two {
            width: 35px;
            &:before {
                box-shadow: 11px 0 0 $bg-gray, 12px 0 0 $bg-gray;
            }
            &.active {
                &:before {
                    background: $body-color;
                    box-shadow: 11px 0 0 $body-color, 12px 0 0 $body-color;
                }
            }
        }
        &.three {
            width: 45px;
            &:before {
                box-shadow: 11px 0 0 $bg-gray, 22px 0 0 $bg-gray;
            }
            &.active {
                &:before {
                    background: $body-color;
                    box-shadow: 11px 0 0 $body-color, 22px 0 0 $body-color;
                }
            }
        }
        &.four {
            width: 55px;
            &:before {
                box-shadow: 11px 0 0 $bg-gray, 22px 0 0 $bg-gray, 33px 0 0 $bg-gray;
            }
            &.active {
                &:before {
                    background: $body-color;
                    box-shadow: 11px 0 0 $body-color, 22px 0 0 $body-color, 33px 0 0 $body-color;
                }
            }
        }
        &.five {
            width: 65px;
            &:before {
                box-shadow: 11px 0 0 $bg-gray, 22px 0 0 $bg-gray, 33px 0 0 $bg-gray, 44px 0 0 $bg-gray;
            }
            &.active {
                &:before {
                    background: $body-color;
                    box-shadow: 11px 0 0 $body-color, 22px 0 0 $body-color, 33px 0 0 $body-color, 44px 0 0 $body-color;
                }
            }
        }
        &:hover,
        &.active {
        }
    }
}

.collection-products {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    &[data-view="2"] {
        grid-template-columns: repeat(2, 1fr);
    }
    &[data-view="3"] {
        grid-template-columns: repeat(3, 1fr);
    }
    &[data-view="4"] {
        grid-template-columns: repeat(4, 1fr);
    }
    &[data-view="5"] {
        grid-template-columns: repeat(5, 1fr);
    }
    @include media-breakpoint-down(md) {
        &[data-view="3"] {
            grid-template-columns: repeat(3, 1fr);
        }
        &[data-view="4"] {
            grid-template-columns: repeat(4, 1fr);
        }
        &[data-view="5"] {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @include media-breakpoint-down(sm) {
        grid-gap: 10px;
        &[data-view="3"] {
            grid-template-columns: repeat(2, 1fr);
        }
        &[data-view="4"] {
            grid-template-columns: repeat(2, 1fr);
        }
        &[data-view="5"] {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.collection-footer {
    margin-top: 2rem;
}

.options-articles {
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li {
            margin-#{$end-direction}: 10px;
            margin-bottom: 10px;
            position: relative;
            &:last-child {
                margin-#{$end-direction}: 0;
            }
            .control-label {
                // background: $bg-gray;
                border: $border;
                border-radius: $radius2;
                position: relative;
                cursor: pointer;
                font-size: 12px;
                transition: all 0.2s ease;
                &:hover {
                    border-color: $brand-color;
                }
                .size {
                    padding: 0.5rem 0.8rem;
                    display: block;
                }
                .color {
                    width: 1.2rem;
                    height: 1.2rem;
                    display: block;
                }
            }
            .control-input {
                position: absolute;
                opacity: 0;
                z-index: -1;
                &:checked + label {
                    color: $brand-color;
                    border-color: currentColor;
                }
            }
        }
    }
}

.selected-filter {
    display: flex;
    flex-wrap: wrap;
    //margin-bottom: 1rem;
    li {
        font-size: 0.8rem;
        list-style: none;
        margin-bottom: 1rem;
        margin-#{$end-direction}: 5px;
        padding-#{$start-direction}: 10px;
        border-radius: 30px;
        border: $border;
        display: flex;
        align-items: center;
        overflow: hidden;
        span {
            padding-#{$end-direction}: 5px;
        }
        .remove {
            color: $txt-body;
            padding: 5px 10px;
            font-size: 0.7rem;
            &:hover {
                color: $brand-color;
            }
        }
        &:last-child {
            border: none;
        }
    }
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
        justify-content: center;
        flex-direction: column;
    }
    .pagination {
        border-radius: 0;
        .page-link {
            border-radius: 0;
        }
    }
    .show-all {
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md) {
            padding-top: 15px;
        }
        .select-show {
            max-width: 70px;
            margin-#{$end-direction}: 10px;
        }
        .showing-all {
            white-space: nowrap;
            font-size: 0.8rem;
        }
    }
}

//noUiSlider customization
.price-slider {
    box-shadow: none !important;
    border-radius: 2px !important;
    border: none !important;
    margin: 0 8px;
    margin-top: 1rem;
    &.noUi-target {
        background-color: transparent;
    }
    .noUi-connects {
        position: relative;
        background-color: #ddd;
        left: -10px;
        width: calc(100% + 20px);
    }
    .noUi-connect {
        background: $brand-color;
    }
    .noUi-handle {
        cursor: move;
    }
    &.noUi-horizontal {
        height: 6px;
        .noUi-handle {
            right: -10px;
            top: -7px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
    .noUi-handle:before,
    .noUi-handle:after {
        display: none;
    }
}

.slide__fields {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    .price-input {
        padding: 0;
        text-align: center;
        .price-text-box {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            border: $border;
            background-color: #fff;
            align-items: center;
            padding: 0 5px;
            .rsText {
                color: #9e9e9e;
                font-size: 0.8rem;
                position: relative;
                #{$start-direction}: 0;
                top: 0;
                padding: 0px;
                width: 30px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .input-filter {
                margin: 0;
                font-size: 0.8rem;
                height: 30px;
                padding: 0 5px;
                border: none;
            }
        }
    }
    .dash {
        display: inline-block;
        padding: 6px;
    }
}

.btn-float {
    display: none;
}

@include media-breakpoint-down(lg) {
    .btn-float {
        position: sticky;
        bottom: 3rem;
        margin-#{$start-direction}: auto;
        z-index: 8;
        border-radius: 50%;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding: 1rem;
        background-color: $brand-color;
        color: $brand-color-inverse;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        .icn {
            .svg {
                width: 16px;
                height: 16px;
                fill: currentColor;
            }
        }
    }
}

// THE LOADING EFFECT
.skeleton {
    background-color: $bg-gray !important;
    // The shine that's going to move across the skeleton:
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0)) !important;
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
    animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
    to {
        // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
        background-position: right -40px top 0;
    }
}
