.points-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    position: relative;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
    &:before {
        background-color: $bg-gray;
        height: 1px;
        top: 50%;
        position: absolute;
        left: 0;
        right: 0;
        content: "";
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &_inner {
        display: flex;
        align-items: center;
        background: $bg-gray;
        border-radius: 30px;
        padding: 5px 10px;
        margin: 0 1rem;
        font-size: 0.85rem;
        position: relative;
        z-index: 1;
        @include media-breakpoint-down(sm) {
            margin: 0.5rem 1rem;
        }
    }
    p {
        color: $txt-gray;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            content: "";
            background: #39b54a;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-#{$end-direction}: 6px;
        }
    }
    .points {
        margin: 0;
        //font-weight: 600; 
        margin-#{$start-direction}: 8px;
        span {
            color: $brand-color;
        }
    }
}

.total-balance {
    min-height: 120px;
    padding: 1.5rem;
    background-color: #FFF4C5;
    background-repeat: no-repeat;
    background-position: bottom #{$end-direction};
    background-size: 40%;
    display: flex;
    align-items: center;
    line-height: normal;
    @include media-breakpoint-down(md) {
        padding: 1rem;
    }
    &_inner {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        position: relative;
        z-index: 1;
        color: #000;
        margin-#{$end-direction}: 1.5rem;
        &:last-child {
            margin-#{$end-direction}: 0;
        }
        p {
            font-weight: 300;
        }
        .value {
            font-weight: 600;
            font-size: 1.8rem;
            color: currentColor;
        }
    }
}

.points-timeline {
    padding-#{$start-direction}: 50px;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 550px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: -1px;
        top: 5px;
        bottom: 0;
        width: 1px;
        background-color: $border-color;
    }
    @include media-breakpoint-down(sm) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-#{$start-direction}: 30px;
        padding-#{$end-direction}: 0;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-#{$end-direction}: 2rem;
        white-space: normal !important;
        cursor: pointer;
        &.dropdown-toggle:after {
            transition: .35s ease all;
        }
        &.not-collapsed {
            &:after {
                transform: rotate(-45deg);
            }
        }
        &_data {
            flex: 1;
            padding-#{$end-direction}: 1rem;
            @include media-breakpoint-down(sm) {
                padding: 0 0 1rem 0;
            }
        }
        &_title {
            //font-weight: 500;
            font-size: 0.85rem;
            line-height: 1;
            color: $txt-body;
            margin-bottom: 5px;
        }
        &_date {
            font-size: 0.7rem;
            color: $txt-gray;
            margin-bottom: 5px;
        }
        &_origin {
            color: $txt-gray;
            font-size: 0.8rem;
            font-weight: 300;
        }
        &_media {
            max-width: 60px;
            flex: 0 0 60px;
            margin-#{$end-direction}: 1rem;
        }
    }
    >li {
        position: relative;
        margin-bottom: 2rem;
        padding: 0;
        //border-radius: $radius4;
        //border: $border;
        //box-shadow: 0px 0px 3px #bababa;
        &:before {
            content: "";
            position: absolute;
            #{$start-direction}: -55px;
            @include media-breakpoint-down(sm) {
                #{$start-direction}: -36px;
            }
            top:6px;
            width: 10px;
            height: 10px;
            border-radius:50%;
            background-color: $brand-color;
            transform: rotate(45deg);
            @include media-breakpoint-down(sm) {
                top: 0;
            }
        }
        &:after {
            //content: "";
            position: absolute;
            top: 38px;
            #{$end-direction}: 30px;
            margin: auto;
            height: 12px;
            width: 12px;
            border: 1px solid $txt-gray;
            border-width: 2px 2px 0 0;
            transform: rotate(45deg);
        }
        &:hover {
            .points-timeline__block_title {
                color: $txt-body;
            }
        }
        .icn {
            margin-#{$start-direction}: 3rem;
        }
        &:last-child {
            padding-bottom: 20px;
        }
        &.redeemed {
            opacity: 0.8;
            &:before {
                background-color: $bg-gray;
            }
        }
        &.expired {
            opacity: 0.8;
            &:before {
                background-color: $bg-gray;
            }
        }
        &.balance {
            &:before {
                top: 8px;
            }
        }
    }
    .points-list-group {
        background: $bg-gray;
        border-radius: $radius4;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-#{$start-direction}: 75px;
        max-height: 400px;
        @include media-breakpoint-down(md) {
            margin: 0;
        }
        li {
            position: relative;
            padding: 0.8rem;
            //padding-top: 1.5rem;
            //border-top: $border;
            font-size: 0.8rem;
            color: $txt-gray;
            &.disabled{
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
    .product-profile {
        width: 100%;
        margin: 0;
    }
}